body {
    color: black;
}

.site-header {
    background-color: black;
    color: white;
    padding: 1rem;
}

@input-color-base: lighten(black, 70%);
@input-color-focus: blue;
@input-color-hover: black;

.form-control {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 0 0 @input-color-base;
    height: auto;
    
    &:focus {
        box-shadow: 0 2px 0 0 @input-color-focus;
    }

    &:hover {
        box-shadow: 0 2px 0 0 @input-color-hover;
    }
}
